*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

body{
  background-color: var(--background-color);
  overflow-y: hidden;
}

.Menu-Button:hover{
  background-color: #fff; 
}

.dark-mode{
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 10px 15px;
  background-color: #2213ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.dark-mode > .mode i{
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 2px;
}
.dark-mode > .switch{
  position: relative;
  top: -1px;
}

:root{
  --background-color: rgb(220, 221, 255);
  --container-color: #fff;
  --text-color: #000;
  --text-color2: rgb(65, 42, 168);
  --searchbar-color: #efebf3;
}
body.dark{
  --background-color: #162ba1;
  --container-color:  #0c0357;
  --text-color: #ffffff;
  --text-color2: rgb(65, 42, 168);
  --searchbar-color: #121031;
}
/* background-color: var(--background-color); */

.animated-array-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.array-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.array-set.active {
  opacity: 1;
}

